<div class='list-group'>
    <div class="list-group-item">
      <h4 class="list-group-item-heading">
        <!-- <%= link_to tweet.user.username %> | Tweeted <%= time_ago_in_words(tweet.created_at) %>  -->
        <%= link_to tweet.user.username, user_path(tweet.user) %> | Tweeted <%= time_ago_in_words(tweet.created_at) %> ago
      </h4>
      <p class="list-group-item-text">
        <%= tweet.content %></p>
    </div>
</div>
