%ul.list-group.userdetails
  %li.list-group-item= "#{@user.first_name} #{@user.last_name}"
  %li.list-group-item= @user.created_at.to_s(:long)
-# %button.btn.btn-default{:type => "button"}
-#   = link_to "Update", edit_user_path(current_user)
- if current_user == @user
  %button.btn.btn-default{type: "button"}
    = link_to "Update", edit_user_path(current_user)
- unless current_user == @user
  - if !current_user.following?(@user)
    = link_to "Follow",
      user_follow_path(@user.username),
      method: :post, class: "btn btn-default navbar-btn"
  - else
    = link_to "Unfollow",
      user_follow_path(@user.username), method: :delete,
      class: "btn btn-default navbar-btn"
    %div.tweets-container
      - @user.tweets.each do |tweet|
        %div.list-group
          %div.list-group-item
            %h4.list-group-item-heading
              = link_to tweet.user.username, user_path(tweet.user)
              "Tweeted #{time_ago_in_words(tweet.created_at)}"
            %p.list-group-item-text
              = tweet.content
